nav.pagination
  button.btn-reset.pagination__control 
    +svg('left', 'pagintation')
  button.btn-reset.pagination__page.pagination__page_active 1
  button.btn-reset.pagination__page 2
  button.btn-reset.pagination__page 3
  button.btn-reset.pagination__page 4
  button.btn-reset.pagination__page ...
  button.btn-reset.pagination__page 11
  button.btn-reset.pagination__control
    +svg('right', 'pagintation')