.headerbottom 
  .headerbottom__container.container
    nav.headerbottom__nav 
      a(href='#').link-reset.headerbottom__link Главная 
      .headerbottom__slash / 
      a(href='#').link-reset.headerbottom__link Новости и статьи 

