.headertop 
  .headertop__container.container 
    include ../Social/Social
    nav.headertop__nav
      .headertop__block
        button.btn-reset.headertop__btn Форум
        button.btn-reset.headertop__btn Поиск
        button.btn-reset.headertop__btn Контакты
      .headertop__block
        button.btn-reset.headertop__btn
          +svg('star', 'headertop')
        button.btn-reset.headertop__btn 
          +svg('cart', 'headertop')
        button.btn-reset.headertop__btn.headertop__btn_primary Личный кабинет