.social
  a(href='https://web.telegram.org/' target="_blank").social__link
    +svg('tg', 'social')
  a(href='https://dzen.ru/' target="_blank").social__link
    +svg('dzen', 'social')
  a(href='https://www.youtube.com/' target="_blank").social__link
    +svg('yt', 'social')
  a(href='https://vk.com/' target="_blank").social__link
    +svg('vk', 'social')