.footerbottom 
  .footerbottom__container.container 
    include ../Social/Social
    nav.footerbottom__nav 
      a(href="#").link-reset.footerbottom__link Политика конфиденциальности
      a(href="#").link-reset.footerbottom__link Карта сайта
    small.footerbottom__small &copy;&nbsp;ООО &laquo;НПО &laquo;Фарватер&raquo; 2024