include ../pug/_mixins

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title ElcorePLC
    link(type="image/png" rel="icon" href="img/favicon.png")
    link(rel="stylesheet", href="style/index.min.css")
    script(defer src="js/index.min.js") 
  body
    include ./Header/Header
    main
      include ./News/News
    include ./Footer/Footer


