mixin cell(capture , subtitle, text)
  li.news__cell
    .news__img
      +svg('filler', 'news')
    span.news__capture=capture 
    h2.title-reset.news__subtitle=subtitle
    p.margin-reset.news__text=text

.news 
  .news__container.container 
    h1.title-reset.news__title Новости и&nbsp;статьи
    nav.news__nav 
      button.btn-reset.news__btn.news__btn_active Все новости и&nbsp;статьи
      button.btn-reset.news__btn Новости
      button.btn-reset.news__btn Статьи
    ul.list-reset.news__grid 
      +cell('12\u00A0июля\u00A02024 / Новость', 'Новые технологии в\u00A0сфере автоматизации', 'Какие инновации помогут улучшить производственные процессы и\u00A0повысить эффективность работы предприятий')
      +cell('Статья', 'Влияние цифровизации', 'Какие инновации помогут улучшить производственные процессы и\u00A0повысить эффективность работы предприятий')
      +cell('24\u00A0апреля\u00A02024 / Новость', 'Устойчивое развитие и\u00A0ответственность', 'Какие методы и\u00A0технологии помогают снизить негативное влияние производства')
      +cell('12\u00A0июля\u00A02024 / Новость', 'Новые технологии в\u00A0сфере автоматизации', 'Какие инновации помогут улучшить производственные процессы и\u00A0повысить эффективность работы предприятий')
      +cell('24\u00A0апреля\u00A02024 / Новость', 'Устойчивое развитие и\u00A0ответственность', 'Какие методы и\u00A0технологии помогают снизить негативное влияние производства')
      +cell('Статья', 'Влияние цифровизации', 'Какие инновации помогут улучшить производственные процессы и\u00A0повысить эффективность работы предприятий')
      +cell('Статья', 'Влияние цифровизации', 'Какие инновации помогут улучшить производственные процессы и\u00A0повысить эффективность работы предприятий')
      +cell('12\u00A0июля\u00A02024 / Новость', 'Новые технологии в\u00A0сфере автоматизации', 'Какие инновации помогут улучшить производственные процессы и\u00A0повысить эффективность работы предприятий')
      +cell('24\u00A0апреля\u00A02024 / Новость', 'Устойчивое развитие и\u00A0ответственность', 'Какие методы и\u00A0технологии помогают снизить негативное влияние производства')
    include ../Pagination/Pagination
      