.footertop 
  .footertop__container.container 
    .footertop__block 
      +svg('logo', 'footertop')
      span Платформа для автоматизации ваших процессов
      +svg('download', 'footertop')
      span © ООО «НПО «Фарватер» 2024  
    .footertop__block 
      h2.title-reset.footertop__title Платформа
      ul.list-reset.footertop__list 
        li.footertop__item
          a(href="#").link-reset.footertop__link ElcoreStore 
        li.footertop__item
          a(href="#").link-reset.footertop__link ElcoreCloud 
        li.footertop__item
          a(href="#").link-reset.footertop__link ElcoreIDE 
    .footertop__block 
      h2.title-reset.footertop__title Обучение и&nbsp;ресурсы
      ul.list-reset.footertop__list 
        li.footertop__item
          a(href="#").link-reset.footertop__link Что такое ElcorePLC
        li.footertop__item
          a(href="#").link-reset.footertop__link Документация 
        li.footertop__item
          a(href="#").link-reset.footertop__link Обучающие материалы 
        li.footertop__item
          a(href="#").link-reset.footertop__link Примеры использования
        li.footertop__item
          a(href="#").link-reset.footertop__link База знаний 
    .footertop__block 
      button.btn-reset.footertop__btn Личный кабинет
      ul.list-reset.footertop__list 
        li.footertop__item
          a(href="#").link-reset.footertop__link Контакты
        li.footertop__item
          a(href="#").link-reset.footertop__link Новости и&nbsp;статьи
        li.footertop__item
          a(href="#").link-reset.footertop__link Сообщество (Форум)
        li.footertop__item
          a(href="#").link-reset.footertop__link Тех поддержка