.headermiddle 
  .headermiddle__container.container
    +svg('logo', 'headermiddle')
    nav.headermiddle__nav 
      button.btn-reset.headermiddle__btn ElcoreStore
      button.btn-reset.headermiddle__btn ElcoreCloud
      button.btn-reset.headermiddle__btn ElcoreIDE
      button.btn-reset.headermiddle__btn Обучение и&nbsp;ресурсы
      button.btn-reset.headermiddle__btn Новости и&nbsp;статьи
      button.btn-reset.headermiddle__btn.headermiddle__btn_hidden Форум
      button.btn-reset.headermiddle__btn.headermiddle__btn_hidden Контакты
    button.btn-reset.headermiddle__burger
      span 
      span 
      span 